Repository brewhaha-jd/brewhaha, pull requests merged in 2019-09, with the labels that each got.

#28 [Android] Adding API Class and Interface to make calls to backend
  Android/app/build.gradle
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendConnection.kt
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendInterface.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/LoginActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Models/Token.kt
  Android/app/src/main/java/com/example/brewhaha_android/Models/User.kt
Labels: Android, enhancement

#33 #32 change login to post
  Backend/controllers/authController.js
Labels: Backend, bug

#35 Adding Home Controller and Making Login Work with API
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendConnection.kt
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendInterface.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/HomeActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/LoginActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Models/User.kt
  Android/app/src/main/res/layout/activity_home.xml
  Android/app/src/main/res/layout/activity_login.xml
Labels: Android, enhancement

#37 #30 added logout endpoint
  Backend/controllers/authController.js
  Backend/models/refreshToken/refreshTokenRepository.js
  Backend/services/authService.js
Labels: Backend, enhancement

#31 [Android] Added api connection to register controller
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendConnection.kt
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendInterface.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/LoginActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/RegisterActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Models/User.kt
  Android/app/src/main/res/layout/activity_login.xml
  Android/app/src/main/res/layout/activity_register.xml
Labels: Android, enhancement

#39 [Android] Added logout button to home activity.
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendConnection.kt
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendInterface.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/HomeActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/LoginActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/RegisterActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Models/Token.kt
  Android/app/src/main/java/com/example/brewhaha_android/Models/User.kt
  Android/app/src/main/res/layout/activity_home.xml
Labels: Android, enhancement

#48 Nh/refactormiddleware
  Backend/controllers/authController.js
  Backend/controllers/userController.js
  Backend/error_handlers/errorHandler.js
  Backend/middleware/errorChecking.js
  Backend/middleware/tokenValidation.js
  Backend/services/authService.js
  Backend/services/userService.js
Labels: Backend, enhancement

#51 Nh/#40
  Backend/Documentation/BreweryApi.md
  Backend/config.js
  Backend/controllers/breweryController.js
  Backend/error_handlers/errorHandler.js
  Backend/middleware/tokenValidation.js
  Backend/models/brewery/breweryEntity.js
  Backend/models/brewery/breweryMapper.js
  Backend/models/brewery/breweryRepository.js
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/api.js
  Backend/services/breweryService.js
Labels: Backend, enhancement

#55 added brewery json data
  Scraper/atlanta_breweries.json
  Scraper/breweries.json
  Scraper/database_init.py
  Scraper/scrape_yelp.py
Labels: Backend

#58 fixed filtering backend
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendConnection.kt
  Android/app/src/main/java/com/example/brewhaha_android/Api/BackendInterface.kt
Labels: Android, enhancement

#59 Add list view
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/HomeActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Models/Brewery.kt
  Android/app/src/main/res/drawable/beer_mugs.jpg
  Android/app/src/main/res/drawable/ic_restaurant_black_36dp.png
  Android/app/src/main/res/drawable/ic_restaurant_black_48dp.png
  Android/app/src/main/res/drawable/logout_icon.jpeg
  Android/app/src/main/res/layout/activity_home.xml
  Android/app/src/main/res/layout/activity_login.xml
  Android/app/src/main/res/layout/brewery_card.xml
  Android/app/src/main/res/values/colors.xml
Labels: Android

#62 Pbokey/adding fuzzy search
  Android/app/build.gradle
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/HomeActivity.kt
  Android/app/src/main/java/com/example/brewhaha_android/Controllers/LoginActivity.kt
  Android/app/src/main/res/layout/activity_home.xml
Labels: Android, enhancement
